<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>author</key>
  <string>{{scheme-author}}</string>
  <key>colorSpaceName</key>
  <string>sRGB</string>
  <key>name</key>
  <string>{{scheme-name}}</string>
  <key>semanticClass</key>
  <string>tinted_theming.{{scheme-slug}}</string>
  <key>settings</key>
  <array>
    <dict>
      <key>settings</key>
      <dict>
        <key>background</key>
        <string>{{base03-hex}}</string>
        <key>caret</key>
        <string>{{base0A-hex}}</string>
        <key>foreground</key>
        <string>{{base04-hex}}</string>
        <key>invisibles</key>
        <string>#{{base03-hex}}{{#scheme-is-light-variant}}66{{/scheme-is-light-variant}}{{^scheme-is-light-variant}}99{{/scheme-is-light-variant}}</string>
        <key>lineHighlight</key>
        <string>#{{base01-hex}}{{#scheme-is-light-variant}}19{{/scheme-is-light-variant}}{{^scheme-is-light-variant}}ff{{/scheme-is-light-variant}}</string>
        <key>inactiveSelection</key>
        <string>#{{base0D-hex}}{{#scheme-is-light-variant}}b2{{/scheme-is-light-variant}}{{^scheme-is-light-variant}}21{{/scheme-is-light-variant}}</string>
        <key>selection</key>
        <string>#{{base0D-hex}}{{#scheme-is-light-variant}}26{{/scheme-is-light-variant}}{{^scheme-is-light-variant}}4c{{/scheme-is-light-variant}}</string>
        <key>selectionBorder</key>
        <string>#{{base0D-hex}}{{#scheme-is-light-variant}}26{{/scheme-is-light-variant}}{{^scheme-is-light-variant}}4c{{/scheme-is-light-variant}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Comments</string>
      <key>scope</key>
      <string>comment</string>
      <key>settings</key>
      <dict>
        <key>fontStyle</key>
        <string>italic</string>
        <key>foreground</key>
        <string>#{{base04-hex}}{{#scheme-is-light-variant}}99{{/scheme-is-light-variant}}{{^scheme-is-light-variant}}8c{{/scheme-is-light-variant}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Keyword</string>
      <key>scope</key>
      <string>keyword, storage</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>#{{base09-hex}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Constant</string>
      <key>scope</key>
      <string>constant</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{base0E-hex}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>String</string>
      <key>scope</key>
      <string>string</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>#{{base0B-hex}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Escape</string>
      <key>scope</key>
      <string>constant.character.escape</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>#{{base0C-hex}}</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
