<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>author</key>
  <string>{{scheme.author}}</string>
  <key>colorSpaceName</key>
  <string>sRGB</string>
  <key>name</key>
  <string>{{scheme.name}}</string>
  <key>semanticClass</key>
  <string>tinted_theming.{{scheme.system}}-{{scheme.slug}}</string>
  <key>settings</key>
  <array>
    <dict>
      <key>settings</key>
      <dict>
        <key>background</key>
        <string>#{{ui.tooltip.background.hex}}</string>
        <key>caret</key>
        <string>#{{ui.cursor.normal.hex}}</string>
        <key>foreground</key>
        <string>#{{ui.tooltip.foreground.hex}}</string>
        <key>invisibles</key>
        <string>#{{ui.whitespace.foreground.hex}}99</string>
        <key>lineHighlight</key>
        <string>#{{ui.highlight.line.background.hex}}</string>
        <key>inactiveSelection</key>
        <string>#{{ui.selection.inactive-background.hex}}</string>
        <key>selection</key>
        <string>#{{ui.selection.background.hex}}</string>
        <key>selectionBorder</key>
        <string>#{{ui.selection.background.hex}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Comments</string>
      <key>scope</key>
      <string>comment</string>
      <key>settings</key>
      <dict>
        <key>fontStyle</key>
        <string>italic</string>
        <key>foreground</key>
        <string>#{{syntax.comment.default.hex}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Keyword</string>
      <key>scope</key>
      <string>keyword, storage</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>#{{syntax.keyword.default.hex}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Constant</string>
      <key>scope</key>
      <string>constant</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>#{{syntax.constant.default.hex}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>String</string>
      <key>scope</key>
      <string>string</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>#{{syntax.string.default.hex}}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Escape</string>
      <key>scope</key>
      <string>constant.character.escape</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>#{{syntax.constant.character.escape.hex}}</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
